%h1= @event.name

%h2 Start time: #{@event.start_time}
- if @event.end_time?
  %h2 End time: #{@event.end_time}

%ul
  - event_fields.each do |field|
    - next unless @event.send("#{field}?")
    %li= @event.send(field)

- if @event.geocoded?
  = map_image @event
