<div id="eventpage" class="container">
  <div class="row">
    <div class="span9"><h1><%= @event.name %></h1>
    <a href="#tweethelpmodal" role="button" class="help" data-toggle="modal"></a></div>
  </div>
  <hr>
  <div class="row">
    <div class="span4">

    	 <% if @event.address? %>
            <b>Address: </b><br>
            <%= @event.address %><br>
            <%= @event.venue%><br>
            <%= @event.venue_extra%><br>

      <% end %>

      <b>Event Start Time: </b><%= @event.start_time.strftime("%B, %d, %Y at %I:%M %p") %>
      <br>
      <% if @event.end_time? %>
          <br>
          <b>Event End Time: </b><%= @event.end_time.strftime("%B, %d, %Y at %I:%M %p") %>
      <% end %>
      <br><br>
      

     
      
      <% if @event.contact_name? %>
      <b>Event Contact</b><br>
      <b>Name: </b><%= @event.contact_name %>
      <%end%>
      <% if @event.contact_position? %>
      <br><b>Position: </b><%= @event.contact_position %>
      <%end%>
        <% if @event.contact_phone? %>
      <br><b>Phone: </b><%= @event.contact_phone %>
      <%end%>
       <% if @event.contact_email? %>
      <br><b>Phone: </b><%= @event.contact_email %>
      <%end%>

     


      <br><br>
      <% if @event.geocoded? %>
          <div id="map" data-lat="<%= @event.lat %>" data-lng="<%= @event.lng %>"></div>
      <% end %>

    </div>


    <div class="span5">
    <%= @tweetcount %>
      <div class="twitterwrap">
        <a href="https://twitter.com/intent/tweet?button_hashtag=#<%= @event.hashtag %>" class="twitter-hashtag-button" data-lang="en" data-related="localisto">Tweet
          #<%= @event.hashtag %></a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
      </div>
      
      <div class="clear"></div>

      <ul id="eventtweets" data-tweets-path="<%= tweets_path(hashtag: @event.hashtag) %>"
      </ul>

    </div>
  </div>
</div>


<div class="modal" id="tweethelpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-body">
  	<h4>TweetStarter</h4>
    <p>TweetStarter uses Twitter’s streaming API to allow unlimited, real-time tweets on each civic event page.</p> 
   
<h4>How does it work?</h4>
<b><p>1. TweetStarter dynamically generates a unique #hashtag for each event.</p>
<p>2. With a click of the "tweet" button users can easily start promoting the event.</p>
<p>3. These tweets join the twittersphere and can be accessed from the native application or viewed here neatly aggregated with information about the event and a map of its location.</p></b>



<h4>The Result...</h4>

<p>With the TweetStarter dashboard it becomes easy to jumpstart twitter hashtag campaigns and promote civic events. </p>
  </div>
  
</div>