.row
  .span6
    %h1= @event.name

    %h2 Start time: #{@event.start_time}
    - if @event.end_time?
      %h2 End time: #{@event.end_time}

    %ul
      - event_fields.each do |field|
        - next unless @event.send("#{field}?")
        %li= @event.send(field)

    - if @event.geocoded?
      = map_image @event

  .span6
    %h1 ##{@event.hashtag}
    <a href="https://twitter.com/intent/tweet?button_hashtag=#{@event.hashtag}" class="twitter-hashtag-button" data-lang="en" data-related="localisto">Tweet ##{@event.hashtag}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    %ul{"data-tweets-path" => tweets_path(hashtag: @event.hashtag)}
    %script#tweet{type: "text/html"}
      %li{id: "{{external_id}}"}
        %img{src: "{{profile_image_url}}"}
        {{name}}
        %a{href: "http://twitter.com/{{username}}"} @{{username}}
        {{{text}}}
